﻿$roboto: "Roboto";
$arial: "Arial";
$lato: 'Lato', 'Helvetica Neue', Arial;
$helvetica: "Helvetica Neue", Helvetica, Arial;
$myriad: Myriad Pro, Lato, Helvetica Neue, Arial;
$sourceSans: tahoma, arial, verdana, sans-serif, Lucida Sans;
$merriweather: "Merriweather", Georgia;
$helvetica: "Helvetica Neue", Arial;

$sidebarBg: #2F343D;
/*$sidebarBg: #35485e;*/

$imagesPath: '/Content/images';

$maxMedium: 991px;
$minMedium: 768px;
$maxSmall: 767px;