﻿.idealforms {
    .field-ideal {
        height: 39px;
        position: relative;

        input{
            height:39px;
        }
        &.textarea-wrapper {
            height: 100%;
        }

        .input-group,
        .input-group input,
        .input-group-addon {
            height: inherit;
        }

        .input-group-focus,
        .form-control:focus {
            border-color: #98D2FF;
            outline: 0 ;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) ;
        }

        .input-group-focus {
            .input-group-addon {
                border-color: #98D2FF;
                color: #7cc6ff;
            }

            &.input-group {
                .form-control:focus {
                    outline: 0;
                    box-shadow: none !important;
                }
            }
        }

        &.has-error,
        &.has-success{
            .has-error-focus,
        .has-success-focus {
            &.input-group {
                .form-control:focus {
                    outline: 0;

                    box-shadow: none !important;
                }
            }
        }
        }

        .input-group-addon {
            .fa.fa-phone {
                padding-right: 1.5px;
                padding-left: 1.5px;
            }
        }

        &.has-error {
            .error {
                color: #a94442;
            }

            .form-control {
                border-color: #a94442;
                box-shadow: inset 0 1px 1px rgba(169, 68, 66, 0.33);
            }

            .form-control:focus,
            .has-error-focus {
                border-color: #843534;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
            }

            .input-group-addon {
                color: #a94442;
                background-color: #f2dede;
                border-color: #a94442;
            }

            .icon {
                color: #a94442;
            }
        }

        &.has-success {
            .error {
                color: inherit;
            }

            .form-control {
                border-color: #3c763d;
                box-shadow: inset 0 1px 1px rgba(60, 118, 61, 0.33);
            }

            .form-control:focus,
            .has-success-focus {
                border-color: #2b542c;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
            }

            .input-group-addon {
                color: #3c763d;
                background-color: #dff0d8;
                border-color: #3c763d;
            }

            .icon {
                color: #3c763d;
                right: -25px;
            }
        }

        &.ajax {
            input {
                color: #463a09;
                background: #faf9e8;
                border-color: #cfaa19;
            }

            &.has-error,
            &.has-success {
                .input-group-addon,
                .form-control {
                    color: #463a09 !important;
                    background-color: #faf9e8 !important;
                    border-color: #cfaa19 !important;
                }

                .has-error-focus,
                .has-success-focus {
                    border-color: #cfaa19;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eadca6;
                }
            }

            &.has-error {
                .error {
                    color: #463a09;
                }

                .form-control {
                    &:focus {
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eadca6;
                    }
                }

                .icon {
                    color: #cfaa19;
                    right: -23px;
                }
            }
        }

        .input-group,
        .input-group > span,
        input,
        .fa.icon.ease-in-out-animation {
            transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s, background-color ease-in-out 0.2s !important;
        }

        .icon {
            font-size: 20px;
            position: absolute;
            top: 8px;
            right: -17px;
            opacity: 0;
            color: rgb(182, 182, 182);
            cursor: pointer;
            transform: scale(0);
            transition: all 300ms cubic-bezier(0.34, 1.41, 0.7, 1);
            transform-origin: center center;
            &.active {
                opacity: 1;
                transform: scale(1);
            }
        }

        &.disabled {
            input {
                border-color: #999999;
            }

            .fa.icon {
                color: #CECECE;
                cursor: not-allowed;
            }
        }
    }

    label {
        display: block;
    }

    .icon-validation {
        -webkit-animation: spin 1.5s infinite linear;
    }

    .error {
        position: absolute;
        z-index: 1069;
        left: 99%;
        top: -9%;
        padding: 1em 1.5em;
        width: 193.33333333333334px;
        margin-left: 40px;
        background: #fff;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        font-size: 85%;
        font-weight: bold;
        line-height: 1.35;
        opacity: 0;
        transform: scale(0);
        transition: all 0.3s cubic-bezier(0.34, 1.41, 0.7, 1);
        transform-origin: left 10px 15px;

        &.active {
            opacity: 1;
            transform: scale(1);
        }

        &:after {
            content: "";
            position: absolute;
            display: block;
            width: 37px;
            height: 12px;
            left: -24px;
            top: 14px;
            background-image: url("#{$imagesPath}/popover-arrow.png");
            background-size: 100% 100%;
            transform: rotate(-90deg);
        }

        &.hidden {
            position: absolute;
            visibility: hidden;
        }
    }
    &.without-icons{
        .error{
            left: 95%;
        }
    }
    &.adaptive {
        .error {
            top: 120%;
            float: left;
            clear: both;
            width: 100%;
            left: 0;
            margin-left: 0;
            margin-top: 6px;
            text-align: center;
            transform-origin: center top 15px;

            &:after {
                left: 45%;
                transform: rotate(0);
                top: -12px;
            }

            &.top:after {
                transform: rotate(180deg);
                top: 38px;
            }
        }

        input:not([type="checkbox"]):not([type="submit"]),
        textarea,
        select {
            width: 100%;
        }
    }

    .idealforms-field-checkbox .icon,
    .idealforms-field-radio .icon,
    .idealforms-field-textarea .icon {
        top: 8px;
        margin-top: 0;
    }
    /*#region Левое - проверить откуда - частная разметка вьюшки */
    .actions {
        margin-top: 30px !important;
        position: relative;
    }
    /*#endregion */
}