﻿@import "config";
@import "mixins";
@import "wizard";
@import "idealfroms";

.upload-step {
    .btn-upload-container {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .progress {
        background-color: #fff;
        display: none;
    }
}

.download-step {
    .btn-download-container {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
}

.clear {
    clear: both;
}

.main-page {
    width: 600px;
    margin: 0 auto;
    margin-top: 177px;
    text-align: center;
    background: #fff;

    .btn-container {
        margin-bottom: 24px;
    }
}