﻿/*$sidebarBg: #35485e;*/
/* this mixin makes possible to add transition to a specific vendor, example: */
/* -webkit-transition: -webkit-transform 0.5s linear; */
/*$sidebarBg: #35485e;*/
/* this mixin makes possible to add transition to a specific vendor, example: */
/* -webkit-transition: -webkit-transform 0.5s linear; */
#wizard {
    margin-top: 40px;
}

    #wizard .header {
        padding: 11px 0 9px 0;
        background: #fff;
        font-family: "Helvetica Neue", Arial;
        text-align: center;
    }

        #wizard .header .sidebar-toggler {
            position: absolute;
            color: #fff;
            padding: 15px;
            top: 3px;
            z-index: 99;
            left: 8px;
            cursor: pointer;
        }

            #wizard .header .sidebar-toggler i {
                font-size: 37px;
            }

        #wizard .header .steps {
            margin: 0 auto;
            border-radius: 2px 2px 0 0;
        }

            #wizard .header .steps .step {
                width: 33%;
                float: left;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
                color: #837b77;
                /*text-shadow: 1px 1px rgba(0, 0, 0, 0.05);*/
                position: relative;
                font-size: 13px;
                font-weight: 500;
            }

@media (max-width: 767px) {
    #wizard .header .steps .step {
        width: 100%;
        padding: 10px 0;
    }
}

#wizard .header .steps .step.active span, #wizard .header .steps .step.active-past span {
    background: #337ab7;
}

#wizard .header .steps .step a {
    border-radius: 0;
    background: #fff;
    padding: 0;
    display: inline;
}

#wizard .header .steps .step:after {
    content: '';
    position: absolute;
    bottom: 31px;
    left: 53%;
    display: block;
    height: 2px;
    background: #337ab7;
    width: 100%;
}

@media (max-width: 991px) {
    #wizard .header .steps .step:after {
        left: 57%;
    }
}

@media (max-width: 767px) {
    #wizard .header .steps .step:after {
        display: none;
    }
}

#wizard .header .steps .step:last-child:after {
    display: none;
}

#wizard .header .steps .step span {
    width: 23px;
    height: 23px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 13px;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #337ab7;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

@media (max-width: 767px) {
    #wizard .header .steps .step span {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
    }
}

#wizard .form-wizard {
    background: #fff;
    margin: 0 auto;
    margin-top: 48px;
    width: 69%;
    position: relative;
    padding-right: 8px;
    min-height: 300px;
}

@media (max-width: 767px) {
    #wizard .form-wizard {
        width: 84%;
    }
}

#wizard .form-wizard .step {
    opacity: 0;
    display: block !important;
    visibility: visible !important;
    position: absolute;
    width: 100%;
    padding-right: 8px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    /* step 2 avatar display */
    /* step 3 expiration date inputs */
    /* final step success */
}

    #wizard .form-wizard .step.active {
        opacity: 1;
        z-index: 3;
    }

    #wizard .form-wizard .step .form-group {
        margin-bottom: 21px;
    }

        #wizard .form-wizard .step .form-group .column {
            width: 30%;
            float: left;
        }

@media (max-width: 767px) {
    #wizard .form-wizard .step .form-group .column {
        width: 100%;
        margin-bottom: 20px;
    }
}

#wizard .form-wizard .step .display-field {
    margin-top: 6px;
}

    #wizard .form-wizard .step .display-field .display {
        float: left;
        background: #eeeeee;
        width: 100px;
        height: 100px;
        display: table;
        text-align: center;
    }

        #wizard .form-wizard .step .display-field .display span {
            color: #9B9B9B;
            font-weight: bold;
            font-family: "Helvetica Neue", Arial;
            font-size: 13px;
            display: table-cell;
            vertical-align: middle;
        }

    #wizard .form-wizard .step .display-field input {
        float: left;
        margin-top: 30px;
        margin-left: 20px;
    }

#wizard .form-wizard .step .expiration-field {
    width: 63% !important;
}

    #wizard .form-wizard .step .expiration-field input {
        width: 48%;
        float: left;
    }

        #wizard .form-wizard .step .expiration-field input:last-child {
            float: right;
        }

#wizard .form-wizard .step .success {
    text-align: center;
}

    #wizard .form-wizard .step .success .ion-checkmark-circled {
        font-size: 47px;
        color: #3DA838;
    }

    #wizard .form-wizard .step .success h3 {
        margin-top: 25px;
        font-size: 21px;
        color: #556579;
    }

    #wizard .form-wizard .step .success .button {
        margin-top: 40px;
    }

#wizard .form-wizard .step .form-actions {
    margin-top: 40px;
    text-align: center;
}

    #wizard .form-wizard .step .form-actions .button {
        margin: 0 10px;
    }

#wizard .pager {
    margin: 20px auto;
    width: 69%;
    padding-right: 8px;
    z-index: 2000;
    position: relative;
}

.idealforms {
    /*#region Левое - проверить откуда - частная разметка вьюшки */
    /*#endregion */
}

    .idealforms .field-ideal {
        height: 39px;
        position: relative;
    }

        .idealforms .field-ideal input {
            height: 39px;
        }

        .idealforms .field-ideal.textarea-wrapper {
            height: 100%;
        }

        .idealforms .field-ideal .input-group, .idealforms .field-ideal .input-group input, .idealforms .field-ideal .input-group-addon {
            height: inherit;
        }

        .idealforms .field-ideal .input-group-focus, .idealforms .field-ideal .form-control:focus {
            border-color: #98D2FF;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

            .idealforms .field-ideal .input-group-focus .input-group-addon {
                border-color: #98D2FF;
                color: #7cc6ff;
            }

            .idealforms .field-ideal .input-group-focus.input-group .form-control:focus {
                outline: 0;
                box-shadow: none !important;
            }

        .idealforms .field-ideal.has-error .has-error-focus.input-group .form-control:focus, .idealforms .field-ideal.has-error .has-success-focus.input-group .form-control:focus, .idealforms .field-ideal.has-success .has-error-focus.input-group .form-control:focus, .idealforms .field-ideal.has-success .has-success-focus.input-group .form-control:focus {
            outline: 0;
            box-shadow: none !important;
        }

        .idealforms .field-ideal .input-group-addon .fa.fa-phone {
            padding-right: 1.5px;
            padding-left: 1.5px;
        }

        .idealforms .field-ideal.has-error .error {
            color: #a94442;
        }

        .idealforms .field-ideal.has-error .form-control {
            border-color: #a94442;
            box-shadow: inset 0 1px 1px rgba(169, 68, 66, 0.33);
        }

            .idealforms .field-ideal.has-error .form-control:focus, .idealforms .field-ideal.has-error .has-error-focus {
                border-color: #843534;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
            }

        .idealforms .field-ideal.has-error .input-group-addon {
            color: #a94442;
            background-color: #f2dede;
            border-color: #a94442;
        }

        .idealforms .field-ideal.has-error .icon {
            color: #a94442;
        }

        .idealforms .field-ideal.has-success .error {
            color: inherit;
        }

        .idealforms .field-ideal.has-success .form-control {
            border-color: #3c763d;
            box-shadow: inset 0 1px 1px rgba(60, 118, 61, 0.33);
        }

            .idealforms .field-ideal.has-success .form-control:focus, .idealforms .field-ideal.has-success .has-success-focus {
                border-color: #2b542c;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
            }

        .idealforms .field-ideal.has-success .input-group-addon {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #3c763d;
        }

        .idealforms .field-ideal.has-success .icon {
            color: #3c763d;
            right: -25px;
        }

        .idealforms .field-ideal.ajax input {
            color: #463a09;
            background: #faf9e8;
            border-color: #cfaa19;
        }

        .idealforms .field-ideal.ajax.has-error .input-group-addon, .idealforms .field-ideal.ajax.has-error .form-control, .idealforms .field-ideal.ajax.has-success .input-group-addon, .idealforms .field-ideal.ajax.has-success .form-control {
            color: #463a09 !important;
            background-color: #faf9e8 !important;
            border-color: #cfaa19 !important;
        }

        .idealforms .field-ideal.ajax.has-error .has-error-focus, .idealforms .field-ideal.ajax.has-error .has-success-focus, .idealforms .field-ideal.ajax.has-success .has-error-focus, .idealforms .field-ideal.ajax.has-success .has-success-focus {
            border-color: #cfaa19;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eadca6;
        }

        .idealforms .field-ideal.ajax.has-error .error {
            color: #463a09;
        }

        .idealforms .field-ideal.ajax.has-error .form-control:focus {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #eadca6;
        }

        .idealforms .field-ideal.ajax.has-error .icon {
            color: #cfaa19;
            right: -23px;
        }

        .idealforms .field-ideal .input-group, .idealforms .field-ideal .input-group > span, .idealforms .field-ideal input, .idealforms .field-ideal .fa.icon.ease-in-out-animation {
            transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, color ease-in-out 0.2s, background-color ease-in-out 0.2s !important;
        }

        .idealforms .field-ideal .icon {
            font-size: 20px;
            position: absolute;
            top: 8px;
            right: -17px;
            opacity: 0;
            color: #b6b6b6;
            cursor: pointer;
            transform: scale(0);
            transition: all 300ms cubic-bezier(0.34, 1.41, 0.7, 1);
            transform-origin: center center;
        }

            .idealforms .field-ideal .icon.active {
                opacity: 1;
                transform: scale(1);
            }

        .idealforms .field-ideal.disabled input {
            border-color: #999999;
        }

        .idealforms .field-ideal.disabled .fa.icon {
            color: #CECECE;
            cursor: not-allowed;
        }

    .idealforms label {
        display: block;
    }

    .idealforms .icon-validation {
        -webkit-animation: spin 1.5s infinite linear;
    }

    .idealforms .error {
        position: absolute;
        z-index: 1069;
        left: 99%;
        top: -9%;
        padding: 1em 1.5em;
        width: 193.33333px;
        margin-left: 40px;
        background: #fff;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        font-size: 85%;
        font-weight: bold;
        line-height: 1.35;
        opacity: 0;
        transform: scale(0);
        transition: all 0.3s cubic-bezier(0.34, 1.41, 0.7, 1);
        transform-origin: left 10px 15px;
    }

        .idealforms .error.active {
            opacity: 1;
            transform: scale(1);
        }

        .idealforms .error:after {
            content: "";
            position: absolute;
            display: block;
            width: 37px;
            height: 12px;
            left: -24px;
            top: 14px;
            background-image: url("/Content/images/popover-arrow.png");
            background-size: 100% 100%;
            transform: rotate(-90deg);
        }

        .idealforms .error.hidden {
            position: absolute;
            visibility: hidden;
        }

    .idealforms.without-icons .error {
        left: 95%;
    }

    .idealforms.adaptive .error {
        top: 120%;
        float: left;
        clear: both;
        width: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 6px;
        text-align: center;
        transform-origin: center top 15px;
    }

        .idealforms.adaptive .error:after {
            left: 45%;
            transform: rotate(0);
            top: -12px;
        }

        .idealforms.adaptive .error.top:after {
            transform: rotate(180deg);
            top: 38px;
        }

    .idealforms.adaptive input:not([type="checkbox"]):not([type="submit"]), .idealforms.adaptive textarea, .idealforms.adaptive select {
        width: 100%;
    }

    .idealforms .idealforms-field-checkbox .icon, .idealforms .idealforms-field-radio .icon, .idealforms .idealforms-field-textarea .icon {
        top: 8px;
        margin-top: 0;
    }

    .idealforms .actions {
        margin-top: 30px !important;
        position: relative;
    }

.upload-step .btn-upload-container {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.upload-step .progress {
    background-color: #fff;
    display: none;
}

.download-step .btn-download-container {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.clear {
    clear: both;
}

.main-page {
    width: 600px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    background: #fff;
}

    .main-page .btn-container {
        margin-bottom: 24px;
    }

/*# sourceMappingURL=site.css.map */