﻿@import "config";
@import "mixins";
#wizard {
    margin-top: 40px;
	.header {
		padding: 11px 0 9px 0;
		background: #fff;
		font-family: $helvetica;
		text-align: center;

		.sidebar-toggler {
			position: absolute;
			color: #fff;
			padding: 15px;
			top: 3px;
			z-index: 99;
			left: 8px;
			cursor: pointer;

			i {
				font-size: 37px;
			}
		}

		.steps {
			margin: 0 auto;
			border-radius: 2px 2px 0 0;

			.step {
				width: 33%;
				float: left;
				padding-top: 20px;
				padding-bottom: 20px;
				text-align: center;
		                    color: rgba(131, 123, 119, 1);
				/*text-shadow: 1px 1px rgba(0, 0, 0, 0.05);*/
				position: relative;
				font-size: 13px;
				font-weight: 500;

				@media (max-width: $maxSmall) {
					width: 100%;
					padding: 10px 0;
				}

				&.active,&.active-past {
					span {
						background: #337ab7;
					}
				}
                a{
                    border-radius: 0;
                    background:#fff;
                    padding:0;
                    display: inline;
                }
				&:after {
					content: '';
					position: absolute;
					bottom: 31px;
					left: 53%;
					display: block;
					height: 2px;
					background: #337ab7;
					width: 100%;

					@media (max-width: $maxMedium) {
						left: 57%;
					}

					@media (max-width: $maxSmall) {
						display: none;
					}
				}

				&:last-child {
					&:after {
						display: none;
					}
				}

				span {
					width: 23px;
					height: 23px;
					display: block;
					position: relative;
					margin: 0 auto;
					margin-top: 13px;
					border-radius: 25px;
					background: #fff;
					border: 2px solid #337ab7;

					@include transition(all .2s linear);

					@media (max-width: $maxSmall) {
						position: absolute;
						top: 0;
						right: 0;
						width: 15px;
						height: 15px;
					}
				}
			}
		}
	}

	.form-wizard {
		background: #fff;
		margin: 0 auto;
		margin-top: 48px;
		width: 69%;
		position: relative;
        padding-right: 8px;
        min-height: 300px;
		@media (max-width: $maxSmall) {
			width: 84%;
		}

		.step {
			opacity: 0;
            display:block!important;
            visibility:visible!important;
			position: absolute;
			width: 100%;
            padding-right:8px;
			@include transition(all .2s linear);
			&.active {
				opacity: 1;
				z-index: 3;
			}

			.form-group {
				margin-bottom: 21px;

				.column {
					width: 30%;
					float: left;

					@media (max-width: $maxSmall) {
						width: 100%;
						margin-bottom: 20px;
					}
				}
			}

			/* step 2 avatar display */
			.display-field {
				margin-top: 6px;

				.display {
					float: left;
					background: #eeeeee;
					width: 100px;
					height: 100px;
					display: table;
					text-align: center;

					span {
						color: #9B9B9B;
						font-weight: bold;
						font-family: $helvetica;
						font-size: 13px;
						display: table-cell;
						vertical-align: middle;
					}
				}

				input {
					float: left;
					margin-top: 30px;
					margin-left: 20px;
				}
			}

			/* step 3 expiration date inputs */
			.expiration-field {
				width: 63% !important;

				input {
					width: 48%;
					float: left;

					&:last-child {
						float: right;
					}
				}
			}

			/* final step success */
			.success {
				text-align: center;

				.ion-checkmark-circled {
					font-size: 47px;
					color: #3DA838;
				}

				h3 {
					margin-top: 25px;
					font-size: 21px;
					color: #556579;
				}

				.button {
					margin-top: 40px;
				}
			}

			.form-actions {
				margin-top: 40px;
				text-align: center;

				.button {
					margin: 0 10px;
				}
			}
		}
	}

    .pager{
        margin:20px auto;
        width: 69%;
padding-right: 8px;
z-index:2000;
position:relative;
    }
}