﻿/*$sidebarBg: #35485e;*/
/* this mixin makes possible to add transition to a specific vendor, example: */
/* -webkit-transition: -webkit-transform 0.5s linear; */
#wizard {
  margin-top: 40px; }
  #wizard .header {
    padding: 11px 0 9px 0;
    background: #fff;
    font-family: "Helvetica Neue", Arial;
    text-align: center; }
    #wizard .header .sidebar-toggler {
      position: absolute;
      color: #fff;
      padding: 15px;
      top: 3px;
      z-index: 99;
      left: 8px;
      cursor: pointer; }
      #wizard .header .sidebar-toggler i {
        font-size: 37px; }
    #wizard .header .steps {
      margin: 0 auto;
      border-radius: 2px 2px 0 0; }
      #wizard .header .steps .step {
        width: 33%;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        color: #837b77;
        /*text-shadow: 1px 1px rgba(0, 0, 0, 0.05);*/
        position: relative;
        font-size: 13px;
        font-weight: 500; }
        @media (max-width: 767px) {
          #wizard .header .steps .step {
            width: 100%;
            padding: 10px 0; } }
        #wizard .header .steps .step.active span, #wizard .header .steps .step.active-past span {
          background: #337ab7; }
        #wizard .header .steps .step a {
          border-radius: 0;
          background: #fff;
          padding: 0;
          display: inline; }
        #wizard .header .steps .step:after {
          content: '';
          position: absolute;
          bottom: 31px;
          left: 53%;
          display: block;
          height: 2px;
          background: #337ab7;
          width: 100%; }
          @media (max-width: 991px) {
            #wizard .header .steps .step:after {
              left: 57%; } }
          @media (max-width: 767px) {
            #wizard .header .steps .step:after {
              display: none; } }
        #wizard .header .steps .step:last-child:after {
          display: none; }
        #wizard .header .steps .step span {
          width: 23px;
          height: 23px;
          display: block;
          position: relative;
          margin: 0 auto;
          margin-top: 13px;
          border-radius: 25px;
          background: #fff;
          border: 2px solid #337ab7;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          @media (max-width: 767px) {
            #wizard .header .steps .step span {
              position: absolute;
              top: 0;
              right: 0;
              width: 15px;
              height: 15px; } }
  #wizard .form-wizard {
    background: #fff;
    margin: 0 auto;
    margin-top: 48px;
    width: 69%;
    position: relative;
    padding-right: 8px;
    min-height: 300px; }
    @media (max-width: 767px) {
      #wizard .form-wizard {
        width: 84%; } }
    #wizard .form-wizard .step {
      opacity: 0;
      display: block !important;
      visibility: visible !important;
      position: absolute;
      width: 100%;
      padding-right: 8px;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      /* step 2 avatar display */
      /* step 3 expiration date inputs */
      /* final step success */ }
      #wizard .form-wizard .step.active {
        opacity: 1;
        z-index: 3; }
      #wizard .form-wizard .step .form-group {
        margin-bottom: 21px; }
        #wizard .form-wizard .step .form-group .column {
          width: 30%;
          float: left; }
          @media (max-width: 767px) {
            #wizard .form-wizard .step .form-group .column {
              width: 100%;
              margin-bottom: 20px; } }
      #wizard .form-wizard .step .display-field {
        margin-top: 6px; }
        #wizard .form-wizard .step .display-field .display {
          float: left;
          background: #eeeeee;
          width: 100px;
          height: 100px;
          display: table;
          text-align: center; }
          #wizard .form-wizard .step .display-field .display span {
            color: #9B9B9B;
            font-weight: bold;
            font-family: "Helvetica Neue", Arial;
            font-size: 13px;
            display: table-cell;
            vertical-align: middle; }
        #wizard .form-wizard .step .display-field input {
          float: left;
          margin-top: 30px;
          margin-left: 20px; }
      #wizard .form-wizard .step .expiration-field {
        width: 63% !important; }
        #wizard .form-wizard .step .expiration-field input {
          width: 48%;
          float: left; }
          #wizard .form-wizard .step .expiration-field input:last-child {
            float: right; }
      #wizard .form-wizard .step .success {
        text-align: center; }
        #wizard .form-wizard .step .success .ion-checkmark-circled {
          font-size: 47px;
          color: #3DA838; }
        #wizard .form-wizard .step .success h3 {
          margin-top: 25px;
          font-size: 21px;
          color: #556579; }
        #wizard .form-wizard .step .success .button {
          margin-top: 40px; }
      #wizard .form-wizard .step .form-actions {
        margin-top: 40px;
        text-align: center; }
        #wizard .form-wizard .step .form-actions .button {
          margin: 0 10px; }
  #wizard .pager {
    margin: 20px auto;
    width: 69%;
    padding-right: 8px;
    z-index: 2000;
    position: relative; }

/*# sourceMappingURL=wizard.css.map */