﻿@using DocxTestProject.Core
@using DocxTestProject.Models
@model List<DocxItemModel>
@{
    ViewBag.Title = "Стартовая страница";
}

<div class="main-page well well-lg">
    <div class="btn-container"><a href="@Url.Action(MVC.Home.NewDocxDocument())" class="btn btn-lg btn-info">Добавить новый документ</a></div>
    <label>Загруженные документы</label>
    <div class="table-container">
        @foreach (var docx in Model)
        {
            <div class="row">
                <a href="@docx.Path">@docx.Name</a>
            </div>
        }
    </div>
</div>