﻿@using DocxTestProject.Models
@{
    ViewBag.Title = "Добавление нового документа";
}

<div class="row">
    <div id="wizard">

        <div class="header">
            <ul class="steps clearfix">
                <li class="step">Выбор документа<a href="#tab1" data-toggle="tab"><span></span></a></li>
                <li class="step">Редактирование документа<a href="#tab2" data-toggle="tab"><span></span></a></li>
                <li class="step">Сформированный документ<a href="#tab3" data-toggle="tab"><span></span></a></li>
            </ul>
        </div>
        <div class="tab-content form-wizard">
            <div class="tab-pane step upload-step" id="tab1">
                @Html.Hidden("isCompleteStep", false)
                <div class="btn-upload-container">
                    <span class="btn btn-primary btn-lg fileinput-button">
                        <span>Загрузить документ</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input id="fileupload" type="file" name="file" data-url="@Url.Action(MVC.Service.FileUpload())">
                    </span>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                    </div>
                </div>
            </div>
            <div class="tab-pane step edit-step" id="tab2">
                @Html.Hidden("isCompleteStep", false)
                <form class="edit-document-form idealforms" action="@Url.Action(MVC.Home.EditDocxDocument())"> </form>
            </div>
            <div class="tab-pane step download-step" id="tab3">
                @Html.Hidden("isCompleteStep", false)
                <div class="btn-download-container">
                    <a href="#" id="docxDownload" class="btn btn-success btn-lg "><span>Скачать измененный документ</span></a>
                </div>
            </div>
            <br class="clear" />
        </div>
        <ul class="pager wizard">
            <li class="previous first" style="display:none;"><a href="#">First</a></li>
            <li class="previous"><a href="#">Previous</a></li>
            <li class="next last" style="display:none;"><a href="#">Last</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
    </div>
</div>